body {
	background-image: url("tiled.jpg");
}

h3, p {
	padding-left: 10px;
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: bold;

}
#banner {
	
}

#player, #welcome {
	border-style: solid;
	border-width: 1px;
	border-color: black;
	background-image: url("greyBR.jpg");
	opacity: 0.90;
    margin: 75px;
    border-radius: 10px;
    padding: 10px;
}

#bandImg {
	padding: 15px;
	opacity: 200%;
	height: 300px;
	width: 300px;
	border-radius: 20px;
}

#bandName {
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 35px;
	font-weight: bold;
	padding-top: 8px;
}

iframe {
	width: 90%; 
	height: 63px;
}	

